/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
	--nav-color:#143F6B;
	
}
body{

  font-family: 'Nunito', sans-serif;

}

.navbar{
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(202, 202, 202);
  padding: 20px;
}
img {
  width: 100%;
  height: 80px;
  object-fit: contain;
}
.card {
  background: white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  border: none;
  box-shadow: 2px 3px 5px rgb(202, 202, 202);
}
.productsWrapper {
  padding: 5%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.btn {
  border: none;
  outline: none;
  background: #764abc;
  padding: 5px 10px;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background: #513282;
  color: #fff;
}

.heading {
  padding: 25px 0;
  text-align: center;
}
.cartCount {
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 40px;
}
.navLink {
  text-decoration: none;
  color: black;
  margin-left: 20px;
}
.cartWrapper{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.cartheading{
  text-align: center;
  margin: 20px 0;
}
.cartCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  margin-bottom: 20px;
  padding: 14px;
  border-radius: 5px;
}